<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要您的位置以顯示目前位置並追蹤運動路線</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>需要您的位置以追蹤背景運動路線</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要您的位置以追蹤背景運動路線</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Application 1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_application_1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>我們需要錄音權限，讓長輩能透過語音與 AI 聊天。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>我們需要語音辨識權限，將長輩的聲音轉換為文字。</string>
	<key>NSCameraUsageDescription</key>
	<string>我們需要相機權限，以進行掃碼配對。</string>
	<key>NSMotionUsageDescription</key>
	<string>我們需要讀取健康資料權限，以追蹤您的步數並參與造型加成活動。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>我們將與 HealthKit 整合，為您記錄實體步數並獲取加成獎勵。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>我們將與 HealthKit 整合，為您記錄實體步數並獲取加成獎勵。</string>
</dict>
</plist>
